
    <!-- ABOUT -->
    <section id="about" class="about section">
        <div class="section-wrap bg-color-1">
            <div class="container">
                <div class="title wow fadeInUp row" data-wow-delay="0.2s">
                    <%= image_tag("nicolas-candelon.png", :class => "portrait col-lg-3 center", :alt => "Nicolas Candelon développeur ruby on rails à Agen") %>
                    <h3 class=" col-lg-8 big text-uppercase">Bienvenue !</h3>
                    <p class="col-lg-8 medium">Je m'appelle Nicolas Candelon. Développeur Ruby on rails de 30 ans  je suis d'Agen en Lot et Garonne. Titulaire un BTS électronique depuis 2003, j'ai décidé de faire de ma passion mon métier et je me suis donc dirigé vers le code et le web. Autodidacte depuis maintenant 2ans, je me spécialise dans l'intégration HTML, CSS et Javascript et dans le développement d'application en Ruby avec le framework Rails.  </p>
                </div>


                <div class="about-content">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.4s">
                                <h4 class="text-uppercase">Recrutement</h4>
                                <p>Je recherche actuellement tous types de missions: <br> - Mission freelance en intégration ou developpement. <br> - Poste en agence en qualité de developpeur ou intégrateur web. </p>
                                <p class="alert alert-success" role="alert">En mode : DISPONIBLE</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase">Mes domaines de compétences</h4>
                                <p>Voici les domaines dans lesquels je peux vous être utile :</p>
                                <ul>
                                    <li>Intégration HTML5/CSS3/JS</li>
                                    <li>Développement back-end Ruby on Rails </li>
                                    <li>Création de charte graphique pour site internet</li>
                                    <li>Création de thème sous Wordpress</li>
                                </ul>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.8s">
                                <h4 class="text-uppercase">Mes + pour vous</h4>
                                <p><span class="boldOrange">L'écoute</span>, car il est indispensable d'avoir un relation seine et efficace entre nous</p>
                                <p><span class="boldOrange">Mon sérieux</span>, car même pour le plus petit des projets, je m'engage a 100% et donne le meilleur.</p>
                                <p><span class="boldOrange">Ma force de proposition</span>, je m'engage à respecter vos idées mais aussi vous conseiller pour maximiser la réussite de votre projet. </p>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / ABOUT -->

    
    <!-- SERVICES -->
    <section id="service" class="service section">
        <div class="section-wrap bg-color-1">
            <div class="container">
                <div class="title">
                  <h3 class="big text-uppercase">Services</h3>
                    <p class="small">Petite liste non exhaustive de mes compétences, ne seront pas citées celle qui me permets de très bien faire le café et celle qui fait que je peux passer un temps infini à écouter de la musique plus que douteuse sans jamais saigner des oreilles. </p>
                </div>

                <div class="service-content">
                    <div class="ser-row">
                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.4s">
                                <i class="icon icon-code"></i>
                                <h4 class="text-uppercase">Développement <br> Ruby on Rails</h4>
                                <p>Ruby on Rails est un langage couplé à un framework qui permets de mettre en place des applications web ou métier performantes comme Groupon ou Twitter (même si les technologies ont changées depuis ... )</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.6s">
                                <i class="icon icon-html5"></i>
                                <h4 class="text-uppercase">Intégration HTML5 CSS3</h4>
                                <p>S'adapter à tous les appareil capable d'afficher une page web (et il y en a beaucoup ! ) sans mettre à mal l"ergonoqie et l'expérience utilisateur. Permettre à Google de comprendre le site pur un référencement optimisé. </p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.8s">
                                <i class="icon icon-wordpress"></i>
                                <h4 class="text-uppercase">Wordpress</h4>
                                <p>Solution éprouvé pour des sites tel que des blog ou e-commerce, ce CMS permets de fournir une solution simple et interface d'administration claire.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="1s">
                                <i class="icon icon-brush"></i>
                                <h4 class="text-uppercase">Web Design</h4>
                                <p>La plus grosse difference entre le minitel et un site web ? Son interface et son aspect visuel. Un site doit avant tout être attractif mais aussi lisible accessible et compréhensible. </p>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / SERVICES -->

    <!-- CLIENT -->
    <section id="client" class="client section bg-color-1">
        <div class="section-wrap bg-parallax">
            <div class="container">
                <div class="title wow fadeInUp" data-wow-delay="0.2s">
                    <h3 class="big text-uppercase">Ils m'ont fait confiance</h3>
                    <p class="small">Parce qu'un projet réussit passe une bonne entente mais surtout de la confiance.</p>
                </div>

                <div class="client-content wow fadeInUp" data-wow-delay="0.4s">
                    <div class="client-row">

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                 <%= image_tag("dg-logo.png", :alt => "DG informatique", :title => "DG informatique") %>
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <%= image_tag("logo-itkom.png", :alt => "ITKom", :title => "ITKom") %>
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <%= image_tag("touko-logo.jpg", :alt => "Touko Technologies", :title => "Touko Technologies") %>
                            </a>
                        </div>
                        <!-- END / ITEM -->

                    

                    </div>
                </div>

            </div>
            <div class="overlay-pattern-1"></div>
        </div>
    </section>
    <!-- END / CLIENT -->



    <!-- WORK -->
    <section id="work" class="work section">
        <div class="section-wrap bg-color bg-color-1">
            <div class="container">
                
                <div class="title">
                    <h3 class="big text-uppercase">Mes projets</h3>
                </div>

                <div id="filters">
                    <ul class="text-capitalize text-right">
                        <li><a href="#" data-filter="*" id="all">Tous</a></li>
                        <li><a href="#" data-filter=".dev">Développement</a></li>
                        <li><a href="#" data-filter=".webdesign">Web Design</a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="work-wrap" class="work-wrap-1">

                    <!-- ITEM -->
                    <div class="item webdesign dev">
                        <section class="image-popup-no-margins" href="<%= image_url('itkom.png') %>">
                            <%= image_tag("itkom.png", :alt => "Itkom, Agence de communication et télécom", :class => "col-lg-9 col-lg-offset-3") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <!--<span class="icon md-icon-zoom"></span>-->
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInRight" data-wow-delay="0.4s">
                                <h4 class="text-uppercase font-fanwoodtext">ITKom Agence de communication et télécom</h4>
                                <hr class="line">
                                <ul>
                                    <li>Lot et garonne</li><br>
                                    <li>Webdesign</li>
                                    <li>Création d'un thème Wordpress</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->
                    <div class="item dev">
                        <section class="zoom ajax-popup-link" href="projects/project-1.html">
                            <%= image_tag("portfolio.png", :alt => "Nicolas Candelon - intégrateur / développeur Ruby on Rails sur Agen 47", :class => "col-lg-9") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInRight" data-wow-delay="0.4s">
                                <h4 class="text-uppercase font-fanwoodtext">Mon site perso</h4>
                                <hr class="line">
                                <ul>
                                    <li>Lot et garonne</li><br>
                                    <li>Site perso en Ruby on rails </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item webdesign dev">
                        <section class="zoom ajax-popup-link" href="projects/project-1.html">
                            <%= image_tag("terroir.png", :alt => "Terroirducoin.com , site des ventes de produits régionnaux ", :class => "col-lg-9 col-lg-offset-3") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase font-fanwoodtext">Terroirducoin.com - vente de produits régionnaux</h4>
                                <hr class="line">
                                <ul>
                                    <li>Gers</li><br>
                                    <li>Webdesign</li>
                                    <li>Création d'un thème e-commerce Wordpress</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->
                    <!-- ITEM -->
                    <div class="item webdesign dev">
                        <section class="zoom ajax-popup-link" href="projects/project-1.html">
                            <%= image_tag("dg.png", :alt => "DG informatique, vente de matériel informatique", :class => "col-lg-9") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase font-fanwoodtext">DG Informatique - Vente de matériel informatique</h4>
                                <hr class="line">
                                <ul>
                                    <li>Gers</li><br>
                                    <li>Webdesign</li>
                                    <li>Création d'un thème Wordpress</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item webdesign dev">
                        <section class="zoom ajax-popup-link" href="projects/project-1.html">
                            <%= image_tag("a2cm.png", :alt => "Anaël, 2ans contre la maladie", :class => "col-lg-offset-3 col-lg-9 ") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInRight" data-wow-delay="0.8s">
                                <h4 class="text-uppercase font-fanwoodtext">Site de réservation de places pour Anaël Ruant</h4>
                                <hr class="line">
                                <ul>
                                    <li>Lot et Garonne</li><br>
                                    <li>Webdesign</li>
                                    <li>Création thème e-commerce Wordpress</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->
                    <!-- ITEM -->
                    <div class="item webdesign dev">
                        <section class="zoom ajax-popup-link" href="projects/project-1.html">
                            <%= image_tag("challenge2.png", :alt => "Challenge 2013 - FDJ.com", :class => "col-lg-9") %>
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <i class="fa fa-eye fa-6"></i>
                            </div>
                            <div class="caption wow fadeInRight col-lg-3" data-wow-delay="0.8s">
                                <h4 class="text-uppercase font-fanwoodtext">Site extranet pour la FDJ</h4>
                                <hr class="line">
                                <ul>
                                    <li>Ile de France</li><br>
                                    <li>Webdesign</li>
                                    <li>Création thème HTML/CSS</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- END / ITEM -->
                </div>
            </div>
        </div>
    </section>
    <!-- END / WORK -->

