<!DOCTYPE html>
<html>
<head>
  <title>Rhadax</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="home bg-color-1" data-spy="scroll">
    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- PRELOADER -->
        <div class="preloader">
            <div class="pre-icon">
                <div class="pre-item pre-item-1"></div>
                <div class="pre-item pre-item-2"></div>
                <div class="pre-item pre-item-3"></div>
                <div class="pre-item pre-item-4"></div>
            </div>
        </div>
        <!-- END / PRELOADER -->

        <!-- HEADER -->
        <header id="header" type="content" class="header">
            <!-- BANNER -->
            <div id="banner">
                <div class="bg-parallax banner-parallax" style="background-position: 50% 0px;">
                </div>
                <div class="overlay-pattern-4"></div>
            </div>
            <!-- END / BANNER -->

            <div class="container">

                <!-- LOGO -->
                <div class="logo text-center"><a href="index.html"><%= image_tag("logo.png", :alt => "Nicolas Candelon développeur ruby on rails à Agen") %></a></div>
                <!-- END / LOGO -->

                <!-- HEAD CONTENT -->
                <div class="head-content text-center">
                    <div class="head-title text-uppercase">
                        <h1 class="rotate">Nicolas Candelon, Développeur Ruby</h1>
                        <hr class="line">
                    </div>
                    <p>Freelance à Agen dans le Lot et Garonne, je mets ma passion à disposition pour vous accompagner au mieux dans la réussite de votre projet web.</p>
                </div>
                <!-- END / HEAD CONTENT -->
            </div>

            <div class="cs-scroll">
                <i class="fa fa-angle-down"></i>
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
                <div class="line-4"></div>
            </div>
                
        </header>
        <!-- END / HEADER -->

        <!-- NAVIGATION -->
        <nav class="navigation">
            <div class="logo-nav text-center"><a href="index.html"><%= image_tag("logo.png", :alt => "Nicolas Candelon développeur ruby on rails à Agen") %></a></div>
            
            <ul class="nav text-center text-uppercase">
                <li><a href="#page-top" data-title="Home">Home</a></li>
                <li><a href="#about" data-title="Moi">Moi</a></li>
                <li><a href="#service" data-title="Service">Service</a></li>
                <li><a href="#work" data-title="Projet">Projet</a></li>
                <!--<li><a href="#blog-time" data-title="Blog">Blog</a></li> -->
            </ul>
        </nav>
        <!-- END / NAVIGATION -->

        <!-- CONTACT AND SOCIAL -->
        <div class="page-right-nav">
            <div class="contact-slide">
                <h4 class="open-pp-contact">Contact</h4>

                <div class="pp-contact">
                    <div class="inner">
                        <h5>Contact</h5>
                        <div id="map"></div>

                        <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" class="address">
                            <div class="half">
                                <i class="icon md-icon-location"></i>
                                <ul>
                                    <li itemprop="street-address">Impasse Darnalt Résidence Palycéa</li>
                                    <li itemprop="locality">47000 Agen</li>
                                    <li >n.can2lon@gmail.com</li>
                                    <li itemprop="tel">06-84-87-95-83</li>
                                </ul>
                            </div>
                        </div>

                        <div class="contact-form">
                            <form id="send-message-form" action="processContact.php" method="post">
                                <div class="half">
                                    <textarea class="message" name="message" placeholder="Votre message" onfocus="if(this.placeholder == 'Votre message') { this.placeholder = ''; }" onblur="if(this.placeholder == '') { this.placeholder = 'Votre message'; }"></textarea>
                                </div>
                                <div class="half">
                                    <input class="email" type="text" name="email" placeholder="Votre adresse mail" onfocus="if(this.placeholder == 'Votre adresse mail') { this.placeholder = ''; }" onblur="if(this.placeholder == '') { this.placeholder = 'Votre adresse mail'; }">
                                    <input class="name" type="text" name="name"  placeholder="Votre nom" onfocus="if(this.placeholder == 'Votre nom') { this.placeholder = ''; }" onblur="if(this.placeholder == '') { this.placeholder = 'Votre nom'; }">

                                    <!-- <input type="submit" value="SEND MESSAGE" class="cs-btn btn-md btn-style-1 submit text-uppercase"> -->
                                    <button id="submit-contact" class="cs-btn btn-md btn-style-1 submit text-uppercase" type="submit">Envoyer</button>
                                </div>
                            </form>

                        </div>
                        <div id="contact-content"></div>
                    </div>
                </div>
            </div>

            <div class="social">
                <a href="https://github.com/RhaDaX" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.facebook.com/nicolas.candelon" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Rhadax" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <!-- END / CONTACT AND SOCIAL -->



        <!-- END / CONTACT AND SOCIAL -->

    		<%= yield %>

        <!-- FOOTER -->
        <footer id="footer" class="footer">
            <div class="section-wrap bg-parallax">

                <p class="copyright">© 2015 - Nicolas Candelon. Toute reproduction même partielle altèrerait votre intégrité physique et morale.</p>
                <div class="overlay-pattern-2"></div>
            </div>
        </footer>
        <!-- END / FOOTER -->


    </div>
<!-- END / PAGE WRAP -->

<!-- Load jQuery -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript">
    "use strict";
    /*==============================
        Mobile check
    ==============================*/
    function mobilecheck() {
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            return false;
        }
        return true;
    }

    /*==============================
        ANIMATION
    ==============================*/
    if (mobilecheck()) {
        new WOW().init();   
    }
</script>
</body>
</html>